/* 
    Colors
    bg: #000
    orange: #ff9501
    grey: #a6a6a6
    white: #fdfdfd
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.get-back-btn{
    font-family: 'Lobster', cursive;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: #764AF1;
    padding: 8px 48px;
    background-color: none;
    border: #764AF1 solid 1px;
    border-radius: 10rem;
    text-decoration: none;
    transition: .2s;
    overflow: hidden;
    z-index: 1;
}
a{
    text-decoration: none;
}
.calc{
    margin: 5px auto;
    width: 300px;
    height: 500px;
    /* border:  1px solid #000; */
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
    word-wrap: break-word;
    word-break: break-all;
}
.history p{
    text-align: right;
    font-size: 1.5rem;
    margin: 0;
    color: #a6a6a6;
    filter: brightness(1.50);
}
.calc-screen p{
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons{
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn{
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s;
    /* user-select: none; */
}

.btn.zero{
    grid-area:zero;
    width: 100%;
    border-radius: 34px;
}

.btn:hover{
    filter: brightness(120%)
}
.btn:active{
    filter: brightness(90%)
}
.btn.bg-grey{
    background-color: #a6a6a6;
}
.btn.bg-orange{
    background-color: #ff9501;
}

.trigonometry{
    margin: 5px auto;
    width: 300px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}
.trigonometry_buttons{
    display: grid;
    grid-template-areas:
    "sin cos tan ctan";
    grid-gap: 7px;
    justify-items: center;
}
.blue{
    background-color: #9772FB;
}